### Relationship between gas demand and CET ###

Quantifying the relationship between gas demand and central england temperature (CET) during ONDJFM to create a reconstruction of gas demand using CET between 1960 and 2023 to correspond with the decadal predictions. This data enables us to explore the relationship between NAO, delta P, UK mean temperature and reconstructed gas demand. The hope is to find a predictor at decadal timescales that gives skill for predictions of 8yrRM ONDJFM gas demand.

In [1]:
# Local libraries
import os
import sys
import glob

# Third-party libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import pearsonr
from scipy import signal

In [2]:
# load in the CET data
cet_data = "/home/users/benhutch/energy-met-corr/CET/meantemp_daily_totals.txt"

# load in the CET data using pandas
cet_df = pd.read_csv(cet_data, delim_whitespace=True, header=0)

In [3]:
cet_df.head()

         Date  Value
0  1772-01-01    3.2
1  1772-01-02    2.0
2  1772-01-03    2.7
3  1772-01-04    2.7
4  1772-01-05    1.5

In [5]:
# ensure that Date is in datetime format
cet_df["Date"] = pd.to_datetime(cet_df["Date"])

In [6]:
# Restrict to years 1950 onwards
# # Convert the index to datetime if it's not already
cet_df.set_index("Date", inplace=True)

# Filter the dataframe to only include rows from 1950 onwards
cet_df_1950_onwards = cet_df[cet_df.index.year >= 1950]

In [8]:
cet_df_1950_onwards.head()

            Value
Date
1950-01-01    6.0
1950-01-02    6.7
1950-01-03    9.6
1950-01-04    8.8
1950-01-05    8.3